# Arquivos temporários
*.tmp
*.temp

# Arquivos de compilação
*.o
*.out

# Arquivos de log
*.log

# Diretórios de dependências
/node_modules
/bower_components

# Arquivos de configuração sensíveis
.env
.env.local
.env.*.local

# Arquivos de build ou saída
/build
/dist
/out

# Arquivos de dependências específicos de linguagem
# Por exemplo, para Node.js
# /npm-debug.log*

# Arquivos de cache
.cache

#Coverage
coverage
